.book-wrapper {
  border-radius: 0.55rem;
  justify-content: center !important;
  display: flex !important;
  position: relative;
  overflow: hidden;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -1.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

  &:hover {
    cursor: pointer;
  }

  .imgBook {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    vertical-align: middle;
    border-style: none;
    border-radius: 0.25rem;
  }
}

.price {
  position: relative;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: block;
}

/* SCSS for couplebutton */
.coubtn-wrapper {
  display: block;
  padding: 10px 20px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  .coubtn-border {
    border: 1px solid #bfc7c8;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }

    ::after {
      display: table;
      content: " ";
      clear: both;
    }

    .detail {
      border-radius: 20px 0 0 20px;
      border-right: 1px solid #bfc7c8;

    }

    span {
      display: inline-block;
      width: 50%;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      color: #3c3d41;
      background: none;
      font-size: 10px;
      line-height: 30px;
      text-align: left;
      text-align: center;
      letter-spacing: normal;
      text-transform: uppercase;
      border-radius: 0 20px 20px 0;

      div {
        display: inline-block;
        margin-right: 5px;
        color: #acb3b4;
        font-size: 16px;
        vertical-align: bottom;
      }

      &:hover {
        color: #00c853;
        div {
          color: #00c853;
        }
      }

    }
  }
}
