.bookcg-wrapper {
  margin-top: 70px;

  .card-rcol {
    border-radius: 0.25rem;
    background-color: #edf3f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    padding: 20px;

    .btn {
      border: none;
      border-radius: 20px;
      background: #dddddd;
      font-weight: normal;
      font-size: 12px;
      line-height: 0.75px;
      -webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
      box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }

    .filter {
      border-bottom: 1px dashed #a59c9c;
      margin-bottom: 1rem;
    }
  }

  .pagi-store {
    justify-content: center;
  }

  strong {
    margin: 14px 0 20px 0;
    color: black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .ant-slider {
    .ant-slider-handle {
      height: 16px;
      width: 16px;
    }

    .ant-slider-rail {
      background-color: #9c9f9e;
      height: 6px;
    }

    .ant-slider-track {
      height: 6px;
      border-radius: 6px;
      background-color: #28cdf0;
    }
  }
}
