.invoice.container {
  border-radius: 15px;
  background-color: #edf3f4;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;

  th {
    font-weight: bold;
  }

  del {
    color: #9a9a9a;
  }

  .imgBook {
    img {
      height: auto;
      width: 50px;
      float: left;
      margin-right: 10px;
    }
  }
  .empty-invoice {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    .logo {
      width: 200px;
      height: 200px;
    }
  }
}
