.invoice.container {
  border-radius: 15px;
  background-color: #edf3f4;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;

  strong {
    font-weight: bold;
  }

  .row {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;
      .logo {
          width: 200px;
          height: 200px;
      }
  }
}
