$pr: #fe6c61;
$w: white;
$bl: black;
$gr:rgba(0, 0, 0, 0.65);

/*
  FOR HEADER
*/
.carousel {
  z-index: 0;
}
.cart-nav {
  .btn-default:not([disabled]):not(.disabled):active {
    color: $bl;
    border-color: transparent;
    background-color: $w !important;
  }
  .cart-nav-btn {
    background-color: initial !important;
    color: $w;
    

    &:hover {
      background-color: $w !important;
      color: $pr;
    }

    
  }
  .badge {
    min-width: 20px;
    height: 20px;
    top: -2px;
    padding: 0 6px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    color: $w !important;
    background-color: $pr !important;
  }
}
.rgba-black-strong,
.rgba-black-strong:after {
  background-color: rgba(45, 47, 45, 0.7);
}
#sli {
  width: 100%;
  height: 500px !important;
  display: block;
  background-position: center center !important;
  background-size: cover;

  .ant-breadcrumb-separator {
    color: $w;
  }

  .ant-breadcrumb-link {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;

    &:last-child {
      color: $w !important;
    }
  }
  .ant-breadcrumb > span:last-child,
  .ant-breadcrumb > span:last-child {
    color: $w !important;
  }
  .ant-breadcrumb-link > a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    color: rgb(189, 186, 186);
    font-weight: bold;
    font-style: italic;
    font-size: 16px;

    &:hover {
      color: #27e03f !important;
    }
  }
}
.slider1 {
  background: url(../assets/slider-01.jpg) no-repeat;
}
.slider2 {
  background: url(../assets/slider-02.jpg) no-repeat;
}
.slider3 {
  background: url(../assets/slider-03.jpg) no-repeat;
}
.navbar img {
  width: 100px;
  height: 100px;
}

.ant-notification {
  z-index: 2000;

  .ant-notification-notice {
    transform: translateY(10px);
  }
}
.over-img-card {
  z-index: 10 !important;
  margin-top: -1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 18px;
  margin-right: 4%;
  margin-left: 4%;

  a {
    color: rgba(0, 0, 0, 0.65);
  }

  .btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: initial;
    background-color: initial !important;
    outline-color: initial;
  }

  .btn-default:not([disabled]):not(.disabled):active {
    color: $bl;
    border-color: transparent;
  }



  .btn-secondary {
    color: $gr;
    font-size: 18px;
    border-color: transparent;
    background-color: initial !important;
    box-shadow: initial;
    text-transform: initial;

    &:hover:after {
      visibility: visible;
      z-index: 1;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    &:after {
      display: block;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 2px;
      opacity: 0;
      background: #28cdf0;
      content: "";
      transition: 0.3s ease;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
    }
  }

  
}

.reglog {
  .nav-link {
    font-weight: 600;

    &:hover {
      color: $bl !important;
      background-color: $w;
      border-radius: 5px;
    }
  }

  .btn-secondary {
    background-color: initial !important;
    border: initial;
    text-transform: initial;
    max-width: 180px;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: #4caf50 !important;
    }
  }
  .dropdown-menu {
    min-width: 11.35rem;
  }

  .dropdown-item:hover {
    background-color: #a5d6a7 !important;
  }
}

.dropdown-item:hover {
  background-color: #a5d6a7 !important;
}

.top-nav-collapse {
  background: url(../assets/navbar.jpg) 50% 60%;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0.7;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(90, 92, 106, 1) 0%,
      rgba(32, 45, 58, 1) 81.3%
    );
  }
}

.input-field {
  width: 450px;
  position: relative;
  opacity: 0.9;

  .choices {
    margin-bottom: 0;
    position: relative;
    margin-bottom: 0px;
    font-size: 16px;

    .choices__inner {
      min-height: 50px;
      width: 100%;
      background: transparent;
      border: 0;
      background: $w;
      display: block;
      width: 100%;
      padding: 10px 70px 10px 32px;
      font-size: 18px;
      color: #666;
      border-radius: 34px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      cursor: text;

      .choices__input {
        font-size: 16px;
        color: #333;
        background-color: transparent;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: baseline;
        font-size: 14px;
        border: 0;
        border-radius: 0;
        width: 100%;
        padding: 4px 0 4px 2px;

        &:focus {
          outline: $w auto 1px;
        }
      }
    }
  }

  .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;

    &:hover i {
      color: #00c9a7;
    }

    &:focus {
      outline-color: transparent;
    }

    i {
      fill: #333;
      font-size: 30px;
      transition: all 0.2s ease-out, color 0.2s ease-out;
    }
  }
}

/*
  FOR FOOTER
*/
.page-footer {
  #logo-foot {
    width: 100%;
    text-align: center;
  }
  #logo-foot img {
    object-fit: cover;
    width: 120px;
    height: 120px;
  }
}
